<a href="https://colab.research.google.com/github/otaciliojpereira/data-science/blob/master/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Estudo QuarentenaDados (Sugestão do Kevin e bem interessante)

Data: De 20 a 27/04/2020

Pelo que vi até agora, a organização está da seguinte forma:

   Aula 1 - Recuperar os dados e realizar algumas análises estatísticas

   Aula 2 - Observar os dados via gráfico e alguns tratamentos sobre os dados

   Aula 3 - Mais sobre gráficos e com exploração de eventuais correlações

   Aula 4 - (A avaliar)

   Aula 5 - (A avaliar)

# **Estudo 01 - Fontes e operações sobre as bases de dados**

(Ideia) Quais os grandes repositórios? Existem bases de dados interessantes sobre educação e séries temporais em máquinas (Tenessee Eastman Process)

(Ideia) Criar um GitHb para compartilhar as bases entre suas experiências parece interessante.

Pontos chaves:

- Carga / Compreender formato / Entender sua estrutura / Quais frameworks e suas estruturas típicas / Operações (subconjunto) típicas

In [0]:
# Carregar os dados
a = 10
print(a)

10

# Carga dos dados através do Pandas

Importação / read_csv / operações com o Dataframe (colunas e linhas) / contabilização / outras úteis

Fonte interessante: 
Pandas Tutorial: DataFrames in Python / DataCamp

In [0]:
import pandas as pd

In [0]:
movies = pd.read_csv("https://raw.githubusercontent.com/otaciliojpereira/data-science/master/movies.csv")
# movies.head
# ?movies

avaliacoes = pd.read_csv("https://raw.githubusercontent.com/otaciliojpereira/data-science/master/ratings.csv")

In [0]:
# movies.columns = ['Id', 'Título', 'Gênero']
# movies.head
movies

In [30]:
# movies.mean()
len(movies)

9742

# Operações de consulta na tabela de dados / semelhante ao SQL

- Query /

In [45]:
# avaliacoes.head()
# avaliacoes.describe()
# avaliacoes.query("userId==1").count()
# avaliacoes.head()
avaliacoes.groupby(['userId']).mean()

             movieId    rating     timestamp
userId
1        1854.603448  4.366379  9.649856e+08
2       70350.275862  3.948276  1.445715e+09
3        7058.384615  2.435897  1.306464e+09
4        1982.129630  3.555556  9.658643e+08
5         343.840909  3.636364  8.474351e+08
...              ...       ...           ...
606      9692.197309  3.657399  1.179512e+09
607      1860.636364  3.786096  9.647841e+08
608      4502.605295  3.134176  1.122668e+09
609       483.162162  3.270270  8.472210e+08
610     49590.231183  3.688556  1.489454e+09

[610 rows x 3 columns]